checkpoints/
ckpt/
compare_plots/
data/3dpw/
data/h3.6m/
data/amass/
data/babel_processed/
data/babel_v1.0_release/
data/h36m/

output_vqfinal/
outputs/

pre_analysis/cluster_visualization/
pre_analysis/frame_cluster_visualization/

outputs/**/events.out.tfevents.*

vis_chain_error/
vis_out/
vis_syllable/
work_dir/
*.pth
.vscode/
.idea/
*.log
*.pkl